@model Uplift.Models.ViewModels.HomeViewModel

<style type="text/css">
    .chat-box {
        border-radius: 15px 15px 15px 15px;
        position: fixed;
        right: 15px;
        bottom: 0;
        box-shadow: 0 0 0.1em #000;
    }

    .chat-closed {
        border-radius: 15px 15px 0px 0px;
        width: 250px;
        height: 35px;
        background: #8bc34a;
        line-height: 35px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #777;
        color: #000;
    }

    .chat-header {
        border-radius: 15px 15px 0px 0px;
        border-radius: 25px;
        width: 250px;
        height: 35px;
        background: #8bc34a;
        line-height: 33px;
        text-indent: 20px;
        border: 1px solid #777;
        border-bottom: none;
    }

    .chat-content {
        border-radius: 15px 15px 15px 15px;
        width: 250px;
        height: 300px;
        background: #ffffff;
        border: 1px solid #777;
        overflow-y: auto;
        word-wrap: break-word;

    }

    .box {
        border-radius:15px 15px 15px 15px;
        width: 10px;
        height: 10px;
        background: green;
        float: left;
        position: relative;
        top: 11px;
        left: 10px;
        border: 1px solid #ededed;
    }

    .hide {
        display: none;
    }
</style>

<div class="container">
    <div class="jumbotron" style="padding: 200px 15px;
    margin-bottom: 30px;
    text-align: center;
    background-size: cover;
    background-image: url('../images/cable1.jpg');">
    </div>
    <h1 style="text-align:center;">Shop our freshest deals in your location</h1>
</div>

<div class="chat-box" style="z-index:3">
    <div class="chat-closed"> Chat Now </div>
    <div class="chat-header hide" style="border-radius:15px 15px 0px 0px;"><div class="box"></div>Online Support</div>
    <div class="chat-content hide" style="border-radius:0px 0px 15px 15px;">
        <iframe scrolling="no" src='https://webchat.botframework.com/embed/freshapp-bot?s=gB-mf0pPls0.osVB-8WYHazTy0H4A7Y_sQH3UWJ77mFOwpEM2Jnw0_w' style='height:100%; width: 100%; overflow:hidden;'></iframe>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".chat-closed").on("click", function (e) {
            $(".chat-header,.chat-content").removeClass("hide");
            $(this).addClass("hide");
        });

        $(".chat-header").on("click", function (e) {
            $(".chat-header,.chat-content").addClass("hide");
            $(".chat-closed").removeClass("hide");
        });
    });
</script>


@foreach (var category in Model.CategoryList.OrderBy(o => o.DisplayOrder))
{
    @if (Model.ServiceList.Where(c => c.CategoryId == category.Id).Count() > 0)
    {
        <div class="row container pb-3 backgroundWhite" style="z-index:2">
            <div class="col-12">
                <div class="row">
                    <h2  style="color:black"><b>@category.Name</b></h2>

                    <div class="col-12">
                        <div class="row my-3">
                            @foreach (var service in Model.ServiceList.Where(c => c.CategoryId == category.Id))
                            {
                                <div class="col-lg-4 col-xl-3 col-md-6 pb-4">
                                    <div class="card" style="border:3px solid black; background:url()">
                                        <div class="pl-3 pt-1 text-center">
                                            <h3 class="card-title text-primary" style="color:black;"><b>@service.Name</b></h3>
                                        </div>
                                        <div class="d-flex justify-content-between ">
                                            <div class="pl-1 text-muted">Price per month</div>
                                            <div class="pr-1 text-success h5">$@service.Price</div>
                                        </div>
                                        <img src="@service.ImageUrl" class="card-img-top p-2 rounded" />
                                        <a asp-action="Details" class="btn btn-success" style="border-radius:2px;" asp-route-id="@service.Id">Details</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

